<div>
  <%= link_to 'About', about_path %>
</div>
<div>
    <%=image_tag('pontoon.jpg') %>
    <h1>Welcome To My Website</h1>
</div>
<div>
  <p>This is a website I have put together whilst I practice my coding,
    hopefully as time goes on I can put togehter some interesting content
  about what I am getting up to!
  </p>
</div>
